@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

/*——————————————————头部——————————————————*/
.HD {
    width:100%;
    height: 120px;
    background-color: #89b4cebd;
    /*background-color: #b21f2d;*/
}

.HD .header {
    width: 80%;
    height: 120px;
    overflow: hidden;
    text-align: center;
    margin-left: 15%;
}

.HD .header .header_log {
    float: left;
    margin-top: -70px;
    margin-right: 4%;
    margin-left: 0px;
}

.HD .header .header_log img {
    width: 250px;
    height: 250px;
}

/**搜索栏**/
.HD .header .header_txt {
    float: left;
    background-color: white;
    width: 39%;
    margin-top: 40px;
    height: 45px;
    line-height: 38px;
    margin-right: 3%;
    border-radius: 7px 18px 18px 7px;
}

.HD .header .header_txt #first {
    float: left;
    overflow: hidden;
    width: 76.8%;
    height: 45px;
    font-size: 16px;
    text-align: left;
    background-color: white;
    border: 1px;
    border-radius: 18px;
}

.HD .header .header_txt #second {

    cursor: pointer;
    float: left;
    color: #fff;
    background: #00a1d6;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 42px;
    text-align: center;
    width: 109px;
    border-radius: 18px
}
/***顶部右侧登录***/
.HD .header .header_deng {
    float: left;
    overflow: hidden;
    width: 33%;
    height: 60px;
    margin-top: 30px;
}

.HD .header .header_deng .deng_2 li {
    width: 30%;
    height: 30px;
    line-height: 30px;
    float: left;
    overflow: hidden;
    font-size: 14px;
    margin-top: 3px;
    color: white;
    margin-right: 3%;
    border-radius: 20px;
}

.HD .header .header_deng .deng_2 li a {
    text-decoration: none;
}


/*——————————————————导航——————————————————*/
.DH {
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3);
    height: 76px;
    width: 100%;
    background: #fff;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2000;
    margin: 0 auto;
}

.DH .daohang {
    height: 76px;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.DH .daohang ul {
    width: 82%;
    height: 76px;
    margin-left: 268px;
}

.DH .daohang ul li {
    float: left;
    overflow: hidden;
    height: 76px;
    width: 12%;
    line-height: 76px;
    cursor: pointer;
}

.DH .daohang ul li .dh_a {
    height: 76px;
    line-height: 76px;
    margin-bottom: 0px;
    color: black;
    text-decoration: none;
}
