#master-wrapper {
    overflow: hidden;
    background: #f5f5f5;
}

.smoothie {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

h4{
    font-family: 'Raleway',serif;
    font-weight: 700;
}
