.hotSP {
    padding-bottom: 11px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.hotSP a {
    font-size: 16px;
    color: #000028;
    margin-top: 1px;
}

.hotSP a:hover {
    color: #fe4305;
}

.hotSP span {
    position: relative;
}

.hotSP span:nth-child(1) {
    margin-right: 20px;
}

.isSelect {
    color: #fe4305;
}

.isSelect::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: #fe4305;
    position: absolute;
    left: 0;
    top: 34px;
}
