.hotSP {
    padding-bottom: 11px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.hotSP a {
    font-size: 16px;
    color: #000028;
    margin-top: 1px;
}

.hotSP a:hover {
    color: #fe4305;
}

.hotSP span {
    position: relative;
}

.hotSP span:nth-child(1) {
    margin-right: 20px;
}

.isSelect {
    color: #fe4305;
}

.isSelect::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: #fe4305;
    position: absolute;
    left: 0;
    top: 34px;
}

.none {
    display: none;
}



.contentBox {
    margin-top: 2px;
}

.contentLeft {
    width: 800px;
    margin-top: 30px;
}

.contentRight {
    width: 360px;
}


 /*鍒嗛〉*/
.page {
    margin-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 0;
}

.page ul li {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.page ul li:hover {
    background: #00a1d6;
    border-color: #00a1d6;
}

.page ul li:hover a {
    color: #fff;
}

.currentPage {
    background: #00a1d6;
    border-color: #00a1d6;
}

.currentPage a {
    color: #fff;
}


 /*鍐呭璇︽儏*/
